<header class="fixed-top">
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" style="color: white;">ALURAPIC</a>
        
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle" style="color: white;"></i>
            <a class="ml-2" style="color: white;">{{ user.name | uppercase }}</a>
            <button type="button" class="btn btn-dark ml-3" (click)="logout()">Logout</button>
        </div>

        <ng-template #login>
            <span class="navbar-text" style="color: white; ">
                Efetue 
                <a 
                    [routerLink]="['']" 
                    style="color: orange; font-weight: bold;">
                    Login!
                </a>
            </span>
        </ng-template>
    </nav>

    
    <div class="fixed-top">
        <ap-alert></ap-alert>
    </div>
    
</header>